<div class="gun" style="width:100%; height:100px;">
    <div id="slides">
        <ul class="slides_container swiper-wrapper" id="ul1" style="">
            <!-- 顶部栏目 -->
            <li class="swiper-slide swiper-slide-visible" style="">
                <a href="http://localhost:8081/user/healthScheme">
                    <div class="tub">
                        <img class="tub1" src="../img/sj/icon1.png" alt="">
                    </div>
                    <div class="tet">
                            <span>
                            <h2>健康方案管理</h2>
                            <br>
                            Health Scheme</span>
                    </div>
                </a>
                <a href="http://localhost:8081/user/sport">
                    <div class="tub">
                        <img class="tub1" src="../img/sj/icon2.png" alt="">
                    </div>
                    <div class="tet">
                            <span>
                            <h2>运动项目管理</h2>
                            <br>
                            Sport</span>
                    </div>
                </a>
                <a href="http://localhost:8081/user/message">
                    <div class="tub">
                        <img class="tub1" src="../img/sj/icon3.png" alt="">
                    </div>
                    <div class="tet">
                            <span>
                            <h2>用户信息</h2>
                            <br>
                            The message</span>
                    </div>
                </a>
                <a href="http://localhost:8081/user/session">
                    <div class="tub">
                        <img class="tub1" src="../img/sj/icon4.png" alt="">
                    </div>
                    <div class="tet">
                            <span>
                            <h2>健康咨询</h2>
                            <br>
                             session log
                            </span>
                    </div>
                </a>
            </li>
            <li class="swiper-slide" style="">
                <a href="javascript:;" target="_blank">
                    <div class="tub">
                        <img class="tub1" src="../img/sj/icon5.png" alt="">
                    </div>
                    <div class="tet">
                            <span>
                            <h2>行业案例</h2>
                            </span>
                    </div>
                </a>
                <a href="javascript:;" target="_blank">
                    <div class="tub">
                        <img class="tub1" src="../img/sj/icon6.png" alt="">
                    </div>
                    <div class="tet">
                            <span>
                            <h2>六大优势</h2>
                            </span>
                    </div>
                </a>
                <a href="javascript:;" target="_blank">
                    <div class="tub">
                        <img class="tub1" src="../img/sj/icon7.png" alt="">
                    </div>
                    <div class="tet">
                            <span>
                            <h2>开发动态</h2>
                            </span>
                    </div>
                </a>
                <a href="javascript:;" target="_blank">
                    <div class="tub">
                        <img class="tub1" src="../img/sj/icon8.png" alt="">
                    </div>
                    <div class="tet">
                            <span>
                            <h2>关于我们</h2>
                            </span>
                    </div>
                </a>
            </li>
            <li class="swiper-slide" style="">
                <a href="javascript:;" target="_blank">
                    <div class="tub">
                        <img class="tub1" src="../img/sj/icon9.png" alt="">
                    </div>
                    <div class="tet">
                            <span>
                            <h2>联系我们</h2>
                            </span>
                    </div>
                </a>
            </li>
        </ul>
        <a href="javascript:;" class="prev"> prev </a>
        <a href="javascript:;" class="next" id="soso"> next </a>
    </div>
</div>