<div class="scrollNews">
    <div class="yy">
        <!-- 轮播通知 -->
        <div class="tongzhi">
            <a href="">
                <div class="tongzhi_pic">
                    <img class="tongzhi_pic1" src="../img/sj/template_0.png">
                </div>
                <div class="tongzhi_txt">
                    <p class="tongzhi_h1">
                        关注万虎网络(http://www.wanhunet.com/)
                    </p>
                </div>
            </a>
        </div>
        <div class="tongzhi">
            <a href="">
                <div class="tongzhi_pic">
                    <img class="tongzhi_pic1" src="../img/sj/template_0.png">
                </div>
                <div class="tongzhi_txt">
                    <p class="tongzhi_h1">
                        关注万虎网络(http://www.wanhunet.com/)
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>