<html>
<#include "head.html"/>
<body>
    <div class="page" style="margin:0;">
        <#include "swiper.html"/>
        <#include "scrollNews.html"/>
        <div class="content" style="width:100%; min-height:350px;margin-top: -30px;">
            <#include "catalogue.html"/>
            <ul class="neir" style="width:95%; margin-left:2%;border: rgba(37, 195, 137, 0) 1px solid;overflow:hidden; min-height:240px;padding-bottom: 80px;" id="ul2">
                <!-- 运动项目管理 -->
                <li class="active">
                    <div class="one_itme" id="li_two">
                        <a href="">
                            <div class="list_onell">
                                <div class="list_one_picll">
                                    <img class="banner_pic1" src="../img/sj/two1.png">
                                </div>
                                <div class="list_one_txtll">
                                    <h1 class="list_h1ll">二次开发</h1>
                                    <span></span>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="list_onell">
                                <div class="list_one_picll">
                                    <img class="banner_pic1" src="../img/sj/two2.png">
                                </div>
                                <div class="list_one_txtll">
                                    <h1 class="list_h1ll">基础功能</h1>
                                    <span>关注回复、文本回复、图文回复等等</span>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="list_onell">
                                <div class="list_one_picll">
                                    <img class="banner_pic1" src="../img/sj/two4.png">
                                </div>
                                <div class="list_one_txtll">
                                    <h1 class="list_h1ll">微网站</h1>
                                    <span>多大几百个模板、底部菜单管理、微场景管理等</span>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="list_onell">
                                <div class="list_one_picll">
                                    <img class="banner_pic1" src="../img/sj/two5.png">
                                </div>
                                <div class="list_one_txtll">
                                    <h1 class="list_h1ll">互动功能</h1>
                                    <span>微论坛、留言板、投票、微预约、调研、贺卡邀请函等功能</span>
                                </div>
                            </div>
                        </a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>