<div class="device">
    <a class="arrow-left" href="javascript:;"></a>
    <a class="arrow-right" href="javascript:;"></a>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!-- 幻灯片 -->
            <a href="" class="swiper-slide">
                <img src="../img/sj/slide1.png" alt="">
            </a>
            <a href="" class="swiper-slide">
                <img src="../img/sj/slide2.png" alt="">
            </a>
            <a href="" class="swiper-slide">
                <img src="../img/sj/slide3.png" alt="">
            </a>
            <a href="" class="swiper-slide">
                <img src="../img/sj/slide4.png" alt="">
            </a>
        </div>
    </div>
    <div class="points">
        <span class="swiper-pagination-switch"></span>
    </div>
</div>