<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.showtime.jkgl.mapper.EnergyMeasurementMapper" >
  <resultMap id="BaseResultMap" type="com.showtime.jkgl.model.entity.EnergyMeasurement" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="food_storage_id" property="foodStorageId" jdbcType="INTEGER" />
    <result column="measurement" property="measurement" jdbcType="VARCHAR" />
    <result column="energy" property="energy" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="InsertBatch" useGeneratedKeys="true" parameterType="java.util.List">
    <selectKey resultType="long" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
    insert into energy_measurement (food_storage_id, measurement, energy)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.foodStorageId},#{item.measurement},#{item.energy})
    </foreach>
  </insert>
</mapper>