<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.showtime.jkgl.mapper.HealthSchemeMapper" >
  <resultMap id="BaseResultMap" type="com.showtime.jkgl.model.entity.HealthScheme" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_file_no" property="userFileNo" jdbcType="VARCHAR" />
    <result column="diet_storage_ids" property="dietStorageIds" jdbcType="VARCHAR" />
    <result column="quantitys" property="quantitys" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="eat_time" property="eatTime" jdbcType="TINYINT" />
    <result column="adviser_id" property="adviserId" jdbcType="VARCHAR" />
  </resultMap>
</mapper>