<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.showtime.jkgl.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.showtime.jkgl.model.entity.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="file_no" property="fileNo" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="tel" property="tel" jdbcType="INTEGER" />
    <result column="nation" property="nation" jdbcType="DATE" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="INTEGER" />
    <result column="card_type" property="cardType" jdbcType="INTEGER" />
    <result column="cardID" property="cardid" jdbcType="VARCHAR" />
    <result column="house_tel" property="houseTel" jdbcType="VARCHAR" />
    <result column="file_reason" property="fileReason" jdbcType="VARCHAR" />
    <result column="complication" property="complication" jdbcType="VARCHAR" />
    <result column="house_address" property="houseAddress" jdbcType="VARCHAR" />
    <result column="unit_address" property="unitAddress" jdbcType="VARCHAR" />
    <result column="edu_background" property="eduBackground" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="marital_status" property="maritalStatus" jdbcType="INTEGER" />
    <result column="usual_type" property="usualType" jdbcType="VARCHAR" />
    <result column="birthplace" property="birthplace" jdbcType="VARCHAR" />
    <result column="file_status" property="fileStatus" jdbcType="VARCHAR" />
    <result column="adviser" property="adviser" jdbcType="INTEGER" />
  </resultMap>
</mapper>